/refs/
/submit/
/test/
/ntk/saved_kernels/

!/doc/
/doc/*
!doc/figures/
!doc/macros.tex
!doc/report.tex
!doc/report.pdf
!doc/ref.bib

!/pre/
/pre/*
!pre/figures/
!pre/macros.tex
!pre/slide.tex
!pre/slide.pdf
!pre/ref.bib
!pre/Tsinghua.sty
